<section class="info_section layout_padding bg-light mt-4">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<div class="social_container">
					<h5 class="text-uppercase">
						MINISTRY OF HEALTH & WELLNESS
					</h5>
					<div class="social-box">
						<a href="https://www.facebook.com/themohgovjm" target="_blank">
							<img src="images/social-media-icon/facebook.svg" onmouseover="this.src='images/social-media-icon/facebook-c.svg'" onmouseout="this.src='images/social-media-icon/facebook.svg'">
						</a>
						<a href="https://twitter.com/themohgovjm" target="_blank">
							<img src="images/social-media-icon/twitter.png" onmouseover="this.src='images/social-media-icon/twitter-c.png'" onmouseout="this.src='images/social-media-icon/twitter.png'">
						</a>
						<a href="https://instagram.com/themohwgovjm" target="_blank">
							<img src="images/social-media-icon/instagram.svg" onmouseover="this.src='images/social-media-icon/instagram-c.svg'" onmouseout="this.src='images/social-media-icon/instagram.svg'">
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<h5 class="text-uppercase">
					SITEMAP
				</h5>
				<ul class="footer-links">
					<li>
						<a href="">Dashboard</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5 class="text-uppercase">
					Links
				</h5>
				<ul class="footer-links">
					<li>
						<a href="https://www.gov.jm/home" target="_blank">Government of Jamaica</a>
					</li>
					<li>
						<a href="https://mfaft.gov.jm/jm/" target="_blank">Ministry of Foreign Affairs</a>
					</li>
					<li>
						<a href="http://moj.gov.jm" target="_blank">Ministry of Justice</a>
					</li>
					<li>
						<a href="https://www.questionpoint.org/" target="_blank">Virtual Reference Service</a>
					</li>
					<li>
						<a href="http://carphaevidenceportal.bvsalud.org" target="_blank">CARPHA Evidence Portal</a>
					</li>
					<li>
						<a href="http://bvsalud.org/en/" target="_blank">VHL Regional Portal</a>
					</li>
					<li>
						<a href="http://lilacs.bvsalud.org/en/" target="_blank">Virtual Health Library</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>